body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: rgba(0, 255, 21, 0.274); */
    background: url(health.jpg);
    background-size: auto;
}

h4 {
    padding-left: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #00151f;
    padding: 10px 20px;
    width: 400px;
    border: 1px solid rgba(0,0,0,.5);
}

ul li {
    list-style: none;
    position: relative;
    padding: 9px 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
ul li:last-child {
    border-bottom: none;
}
ul li label {
    font-size: 18px;
    color: #fff;
    padding-left: 30px;
    cursor: pointer;
}
ul li label input {
    opacity: 0;
    cursor: pointer;
}
ul li label .check {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #000;
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
}

ul li label .check:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: #000b10;
    border-radius: 2px;
    transition: 0.5s;
    transform: translateX(185px);
}

ul li label input:checked ~ .check:before {
    background: #adff00;
    box-shadow: 0 0 15px #adff00; 
    transform: translateX(0);
}